<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer </title>
    <link href="~/dashboard/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/dashboard/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dashboard/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/dashboard/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/dashboard/build/css/custom.min.css" rel="stylesheet">
</head>